.vscode/
lib/
bin/
# The machine code I use for all the instructions.
# It is for a lab at university and therefor I will not share everything. 
# Look at sample code for example.
machinecode.txt
ProgramMemoryHashMap.java